
@media(min-width:768px)
{
    .news-input{

        width:50%;
        
    }
}
img{
    opacity: 0.5;
}
img:hover{
    opacity: 1;
}
body{
    background-color: #f4f4f4;
    color: #555;
    font-family: serif, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}
h1{
    text-align: center;
    padding: 20px;
    margin: auto;
    font-weight: bold;
}
h2{
    text-align: center;
    padding-bottom: 0;
    margin: 0;
    padding: 20;
    font-family: serif, Georgia, 'Times New Roman', Times;
}
input 
{
    padding: 10px;
    border-radius: 20px;
    font-family: monospace;
}

div{
    display: block;
}
.container{
    width:80%;
    margin: auto;
    overflow: hidden;
}

#header{
    background-color: coral;
    color: #fff;
}

#navbar{
    padding-top: 20px;
    background-color: #333;
    color: #fff;
    display: block;
    line-height: 25.6px;
    text-align: left;

}

#navbar ul{
    padding: 0;
    list-style-type: style none;
}

#navbar li{
    display:inline;
    padding-bottom: 50px;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
    padding-top: 100px;
}

#showcase{
    background-image: url('showcase.jpg');
    background: image opacity 1;
    background-position: centre right;
    min-height:50px;
    margin-bottom: 30px;
    text-align: center;
    padding-top: 10px;
}
#form{
    border: 5px black solid;
    padding: 1em;
    margin: 1em;
  
}
.basic-styling{
    border: 5px solid coral;
}

#footer{
    background:rgba(51,51,51,0.5);
    color: #fff;
    text-align: center;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 0;

}
.carousel-item{
    height:32rem;
    background: #777;
    color: white;
    position: relative;
    background-position: center;
    background-size: cover;

}
.container2
{
    width: 80%;
    position:absolute;
    bottom:0;
    left: 100px;
    right:0;
    padding-bottom: 50px;
}
.container2 h1{
    text-align: left;
}
.container21 h1{
    text-align: left;
}
.pic{
    padding-left:20em;
}